.cm-s-default {color: #f8f8f8;background: #0c1021;}
.cm-s-default span.cm-keyword {color: #fbde2d;}
.cm-s-default span.cm-atom {color: #d8fa3c;}
.cm-s-default span.cm-number {color: #d8fa3c;}
.cm-s-default span.cm-def {color: #8da6ce;}
.cm-s-default span.cm-variable {color: ff6400;}
.cm-s-default span.cm-variable-2 {color: #ff6400;}
.cm-s-default span.cm-variable-3 {color: #ff6400;}
.cm-s-default span.cm-property {color: white;}
.cm-s-default span.cm-operator {color: white;}
.cm-s-default span.cm-comment {color: #aeaeae;}
.cm-s-default span.cm-string {color: #61ce3c;}
.cm-s-default span.cm-string-2 {color: #61ce3c;}
.cm-s-default span.cm-meta {color: #d8fa3c;}
.cm-s-default span.cm-error {color: #f8f8f8;background: #9d1e15;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #8da6ce;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: rgb(24, 150, 2);}
.cm-s-default span.cm-attribute {color: #00c;}
